Here is some markdown.

In [1]:
import pandas as pd

In [2]:
gdp_df = pd.read_csv('../data/continents.csv')

In [3]:
gdp_df.head()

  Continent      Country
0      Asia  Afghanistan
1    Europe      Albania
2    Africa      Algeria
3    Europe      Andorra
4    Africa       Angola